<!--<head>
	<html class="no-js" lang="en">
	<meta charset="utf-8">
	<title>Webmill - your web partner </title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo:400,400italic,700">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/velvet.css">

	<style>
		#themes {
			position: absolute;
			top:50%;
			left:50%;
			min-width: 100%;
			width: auto;
			height: auto;
			z-index: -2;
			overflow: hidden;
			-webkit-transform: translateX(-50%) translateY(-50%);
			-moz-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
			-o-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}
		.theme {
			opacity: 0.8;
			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			transition: all .2s;
		}
		.theme:hover {
			opacity: 1;
		}
		.theme a {
			text-decoration: none;
			color: #444;
		}
	</style>

</head>
<body>

	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	{{>velvet}}
</body>

<template name="cachemire">
	<p> </p>
</template> -->
