#intro.bg-image .container-fluid {
	background-image: url('../img/stat_computer.jpeg');
}

#about .half.bg {
  background-image: url("../img/team_work.jpg");
  background-size: cover;
}

#mission .half.bg {
  background-image: url("../img/mad_scientist.jpg");
  background-size: cover;
}

#services .half.bg {
  background-image: url("../img/commentout.gif");
  background-size: cover;
}

#portfolio .half.bg {
  background-image: url("../img/calculating-design.jpg");
  background-size: cover;
}

#contact .half.bg {
  background-image: url("../img/press-hard-button.jpg");
  background-size: cover;
}
