/* Global
**************************************************************/

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Overlock', serif;
}

body::before {
  content: 'mobile';
  display: none;
}

@media only screen and (min-width: 1170px) {
  body::before {
    content: 'desktop';
  }
}

.btn,
input,
textarea {
	border-radius: 0 !important;
}

.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/loading.gif') center no-repeat #fff;
}

/* Typography
**************************************************************/
p {
	font-size: 17px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

#subheaders {
  color:#FF9800;
}

.section-header {
	margin-bottom: 50px;
}

.section-title {
	font-size: 26px;
	letter-spacing: 4px;
	position: relative;
	padding-bottom: 20px;
}

.section-title:after {
	content: '';
	display: block;
	width: 34px;
	height: 3px;
	margin: 11px 0px 0px 0px;
	background: #333333;
}

.text-center .section-title:after {
	margin: 11px auto 0px auto;
}

.section-subtitle {
	font-size: 15px;
	margin: 10px 0 20px;
	letter-spacing: 2px;
}

.text-sm {
	font-size: 15px;
}

.text-md {
	font-size: 1.5em;
}

.text-lg {
	font-size: 20px;
}

.text-xl {
	font-size: 23px;
}

/* Buttons
**************************************************************/
.btn-velvet {
  color: inherit;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  border-width: 1px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 10px 26px;
}

.btn-velvet {
  background-color: transparent;
  border-color: #FF9800;
}
.btn-velvet:hover,
.btn-velvet.is-checked {
  border-color: #E91E63;
  background-color: #fff;
  color: #FF9800;
}

/* Section behavior
**************************************************************/
.section-header {
  margin-top: 10%;
}

@media only screen and (min-width: 1170px) {
  .section {
    height: 100vh;
  }
}

.section > .container-fluid, .half {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.section > .container-fluid {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.section:first-of-type .container-fluid {
  visibility: visible;
  height: 100vh;
  background-color: #fff;
}

.half {
  min-height: 50vh;
}

@media only screen and (min-width: 1170px) {

  .half > div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .section > .container-fluid {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    visibility: hidden;
  }

  .section:first-of-type .container-fluid {
    visibility: visible;
  }

  .container-fluid > * {
    visibility: visible;
  }

  .half {
    height: 100vh !important;
    position: absolute;
    top: 0;
    background: #fff;
  }

  .section:nth-of-type(even) .half:first-of-type,
  .section:nth-of-type(odd) .half:nth-of-type(2) {
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .section:nth-of-type(odd) .half:first-of-type,
  .section:nth-of-type(even) .half:nth-of-type(2) {
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

}

/* Next and Previous buttons
**************************************************************/
#vertical-nav {
  position: fixed;
  z-index: 3;
  right: 2%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
#vertical-nav li {
  list-style: none;
}
#vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url('../img/icon-arrow.svg') no-repeat center center;
  background-color:#212121;
  background-size:32px 32px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
#vertical-nav a.prev {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
#vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s 0s, visibility 0s .2s;
  transition: opacity .2s 0s, visibility 0s .2s;
}
#vertical-nav a.inactive1 {
/*  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s 0s, visibility 0s .2s;
  transition: opacity .2s 0s, visibility 0s .2s;
*/}
@media only screen and (min-width: 1170px) {
  #vertical-nav {
    display: block;
  }
}

/* Navbar
**************************************************************/
.navbar-velvet {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  opacity: 1;
}

.navbar-velvet,
.navbar-velvet a {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.navbar-velvet .navbar-brand {
  margin: 25px 10px;
  margin-left: 10px !important;
  text-transform: uppercase;
  color: #F57C00;
  font-weight: 700;
  display: block;
}

.navbar-velvet .navbar-brand span {
  opacity: 1;
}

.navbar-velvet .navbar-brand:hover,
.navbar-velvet .navbar-brand:focus {
  color: #E91E63;
  background-color: transparent;
}

.navbar-velvet .navbar-text {
  color: #fff;
}

.navbar-velvet .navbar-nav > li > a {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
  text-transform: uppercase;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.navbar-velvet .navbar-nav > li > a:hover,
.navbar-velvet .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-velvet .navbar-nav > .active > a,
.navbar-velvet .navbar-nav > .active > a:hover,
.navbar-velvet .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-velvet .navbar-nav > .disabled > a,
.navbar-velvet .navbar-nav > .disabled > a:hover,
.navbar-velvet .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-velvet .navbar-toggle {
  border-color: #ddd;
  margin-top: 19px;
}

.navbar-velvet .navbar-toggle:hover,
.navbar-velvet .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-velvet .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-velvet .navbar-collapse,
.navbar-velvet .navbar-form {
  border-color: #e7e7e7;
}

.navbar-velvet .navbar-nav > .open > a,
.navbar-velvet .navbar-nav > .open > a:hover,
.navbar-velvet .navbar-nav > .open > a:focus {
  color: #555;
  background-color: transparent;
}

@media (max-width: 767px) {

  .navbar-velvet .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }

  .navbar-velvet .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-velvet .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }

  .navbar-velvet .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-velvet .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-velvet .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: transparent;
  }

  .navbar-velvet .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-velvet .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-velvet .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }

}

.navbar-velvet .navbar-link {
  color: #777;
}

.navbar-velvet .navbar-link:hover {
  color: #333;
}

.navbar-velvet .btn-link {
  color: #777;
}

.navbar-velvet .btn-link:hover,
.navbar-velvet .btn-link:focus {
  color: #333;
}

.navbar-velvet .btn-link[disabled]:hover,
fieldset[disabled] .navbar-velvet .btn-link:hover,
.navbar-velvet .btn-link[disabled]:focus,
fieldset[disabled] .navbar-velvet .btn-link:focus {
  color: #ccc;
}

/* Navbar Shrink */
.navbar-velvet.shrink {
  opacity: 0.9;
  border-color: #F9F9F9;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(150, 150, 150, 0.3);
  box-shadow:         0px 3px 7px 0px rgba(150, 150, 150, 0.3);
}
.navbar-velvet.shrink .navbar-nav > li > a {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-velvet.shrink .navbar-brand {
  margin: 10px 10px;
}
.navbar-velvet.shrink .navbar-brand span {
  opacity: 1;
}

.navbar-velvet.shrink .navbar-brand {
  color: #FF4081;
}
.navbar-velvet.shrink .navbar-brand span {
}
.navbar-velvet.shrink .navbar-brand:hover,
.navbar-velvet.shrink .navbar-brand:focus {
  color: #5e5e5e;
}
.navbar-velvet.shrink .navbar-text {
  color: #777;
}
.navbar-velvet.shrink .navbar-nav > li > a {
  color: #3F3F3F;
}
.navbar-velvet.shrink .navbar-nav > li > a:hover,
.navbar-velvet.shrink .navbar-nav > li > a:focus {
  color: #333;
}
.navbar-velvet.shrink .navbar-nav > .active > a,
.navbar-velvet.shrink .navbar-nav > .active > a:hover,
.navbar-velvet.shrink .navbar-nav > .active > a:focus {
  color: #555;
}
.navbar-velvet.shrink .navbar-nav > .disabled > a,
.navbar-velvet.shrink .navbar-nav > .disabled > a:hover,
.navbar-velvet.shrink .navbar-nav > .disabled > a:focus {
  color: #ccc;
}

/* Sections
**************************************************************/

/* Intro */
#intro .container-fluid {
  margin-right: 0px;
  margin-left: 0px;

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#intro .text-center {
  margin-top: 45%;
  color: #F8BBD0;
}

#intro .container-fluid:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: #000;
  z-index: -1;
}

#intro .discover,
#intro .discover:hover,
#intro .discover:active {
  background-color: transparent;
  background-image: url('../img/arrow-down.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 17px 8px;
  bottom: 50px;
  color: #FFF9C4;
  left: 0;
  letter-spacing: 0.1em;
  margin-top: 2px;
  opacity: 0.6;
  padding-bottom: 10px;
  position: absolute;
  right: 0;

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-transition: all .2s ease 0;
  transition: all .2s ease 0;
}

#intro .discover:hover {
  opacity: 1;
}

.bg-video .video video {
  position: absolute;
  top:50%;
  left:50%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

}
.bg-video .video:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #000;
  z-index: -1;
}

/* Portfolio */
#portfolio {
  min-height: 900px;
}

#portfolio .isotope > div {
  margin: 14px 0;
  opacity: 0.8;
  min-height: 100px;
  position: relative;
}

#portfolio .isotope > div:hover {
  opacity: 1;
}

/* Footer */
#footer{
  position: relative;
  background:#efefef;
  width:100%;
  padding: 48px 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
#footer a {
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  color: #FF9800;
  text-decoration: none;
}
#footer a:hover {
  color: #FF4081;
}
#footer .brand
  margin-bottom: 26px;
}
#footer .copyright {
  margin-top: 12px;
}
